<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center ">
        <!-- coluna da direita -->
        <div class="col-md-6 ">
            <!-- seja bem vindo -->
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja Bem Vindo(a)!</h1>
                    <h5 class="fs-18">Expresse aqui as suas opiniões e pensamentos</h5>
                </div>
            </div>
            <!-- fim seja bem vindo -->
            
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6 text-white">
                    <button class="btn btn-light mr-2" >Nova Postagem</button>
                    <a class="btn btn-outline-light" href="">Ver Postagem</a>
                </div>
            </div>

        </div>

        <!-- coluna da esquerda imagem reunião-->
        <div class="col-md-6 justify-content-center">
           <img src="../../assets/img/reuniao-img.png" alt="exemplo de reunião" class="img-reuniao">
        </div>
    </div>
</div>