<footer class="page-footer font-small bg-secondary pt-4 ">
    <div class="comtainer-fluid">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/JeanCarlosAlmeida2012/" target="_blank" class="icoFace">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://github.com/JeanCarlos2017" target="_blank" class="icoGit">
                            <i class="fa fa-github-square"></i>
                        </a>
                    </li>
                    
                    <li>
                        <a href="https://www.linkedin.com/in/jean-carlos-365b8112a/" target="_blank" class="icoLinkedIn">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> ©2021 Copyright: </span>
        <a class="text-light" target="_blank" href="https://brazil.generation.org/">Brasil Generation</a>

    </div>
</footer>
