<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <!-- imagem de fundo, lado direito  -->
        <div class="col-md-6" id="img-bg">
               
        </div>
        <!-- campos necessários para login, lado esquerda-->
        <div class="col-md-6">
            <div class="row d-flex justify-content-center" id="infoCadastro">
                    <div class="col-md-6">
                        <h1 class="text-center mb-3">Cadastro </h1>
                        <!-- nome real -->
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite o seu nome real">
                        </div>
                        <!-- nome do usuário -->
                        <div class="form-group">
                            <label for="usuario">Usuario</label>
                            <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Digite o seu nome de usuário">
                        </div>
                         <!-- link da foto -->
                        <div class="form-group">
                            <label for="link-foto">Link da sua foto</label>
                            <input type="text" class="form-control" name="link-foto" id="link-foto" placeholder="Informe o link da sua foto">
                        </div>

                        <!-- senha do usuário-->
                        <div class="form-group">
                            <label for="senha">Senha</label>
                            <input type="password" class="form-control" name="senha" id="senha" placeholder="Digite a sua senha">
                        </div>
                        
                        <!-- confirmar senha-->
                        <div class="form-group">
                            <label for="confirmacao-senha">Confirme a sua senha</label>
                            <input type="password" class="form-control" name="confirmacao-senha" id="confirmacao-senha" placeholder="Digite a sua senha novamente">
                        </div>
                        <!-- tipo de usuário -->
                        <div class="form-group">
                            <label for="tipo-usuario">Confirme a sua senha</label>
                            <select class="form-control" name="tipo-usuario" id="tipo-usuario" placeholder="Digite a sua senha novamente">
                                <option>Selecione um tipo de usuário</option>
                                <option value="administrador">Administrador</option>
                                <option value="normal">Normal</option>
                            </select>
                        </div>
                        <!-- botões -->
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-danger">Cancelar</button>
                            <button type="submit" class="btn btn-success">Entrar</button>
                        </div>
                        <hr>
                        <p class="text-center">
                            Não tem uma conta? <a href="">Cadastre-se</a>
                        </p>
                    </div>
                    

            </div>
        </div>
        
    </div>
</div>
